USE [master]
GO
/****** Object:  Database [LibraryUP11]    Script Date: 26.09.2026 20:19:14 ******/
CREATE DATABASE [LibraryUP11]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryUP11', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SERVER_MY\MSSQL\DATA\LibraryUP11.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryUP11_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SERVER_MY\MSSQL\DATA\LibraryUP11_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryUP11].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryUP11]
GO
/****** Object:  Table [dbo].[ApplicationsToBecomeAuthor]    Script Date: 26.09.2026 20:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationsToBecomeAuthor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Message] [nvarchar](max) NULL,
	[isClose] [bit] NOT NULL,
	[Approved] [bit] NULL,
 CONSTRAINT [PK_ApplicationsToBecomeAuthor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationsToUnfreeze]    Script Date: 26.09.2026 20:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationsToUnfreeze](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[BookID] [int] NULL,
	[Message] [nvarchar](max) NOT NULL,
	[isClose] [bit] NOT NULL,
	[Approved] [bit] NULL,
 CONSTRAINT [PK_ApplicationsToUnfreeze] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookReports]    Script Date: 26.09.2026 20:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookReports](
	[ID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
 CONSTRAINT [PK_BookReports] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 26.09.2026 20:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ImagePath] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[AuthorID] [int] NOT NULL,
	[isFreeze] [bit] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ReasonToFreeze] [nvarchar](max) NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookStatus]    Script Date: 26.09.2026 20:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_BookStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 26.09.2026 20:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenreBook]    Script Date: 26.09.2026 20:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenreBook](
	[BookID] [int] NOT NULL,
	[GenreID] [int] NOT NULL,
 CONSTRAINT [PK_GenreBook] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC,
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReadingList]    Script Date: 26.09.2026 20:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReadingList](
	[UserID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[StatusID] [int] NOT NULL,
 CONSTRAINT [PK_ReadingList] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 26.09.2026 20:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorID] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[isClose] [bit] NOT NULL,
	[Approved] [bit] NULL,
	[ReportType] [int] NOT NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportType]    Script Date: 26.09.2026 20:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportType](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_ReportType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewReports]    Script Date: 26.09.2026 20:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewReports](
	[ID] [int] NOT NULL,
	[ReviewID] [int] NOT NULL,
 CONSTRAINT [PK_ReviewReports] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 26.09.2026 20:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Book] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Message] [nvarchar](max) NULL,
	[Date] [datetime] NOT NULL,
	[IsFreeze] [bit] NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 26.09.2026 20:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserReports]    Script Date: 26.09.2026 20:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserReports](
	[ID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_UserReports] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26.09.2026 20:19:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[RegestrationDate] [datetime] NOT NULL,
	[RoleID] [int] NOT NULL,
	[isFreeze] [bit] NOT NULL,
	[ReasonToFreeze] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ApplicationsToBecomeAuthor] ON 

INSERT [dbo].[ApplicationsToBecomeAuthor] ([ID], [UserID], [Message], [isClose], [Approved]) VALUES (1, 5, N'Хочу выпускать комиксы на вашей платформе', 1, 0)
INSERT [dbo].[ApplicationsToBecomeAuthor] ([ID], [UserID], [Message], [isClose], [Approved]) VALUES (2, 6, NULL, 1, 1)
INSERT [dbo].[ApplicationsToBecomeAuthor] ([ID], [UserID], [Message], [isClose], [Approved]) VALUES (3, 4, N'Тестовое создание', 1, 1)
SET IDENTITY_INSERT [dbo].[ApplicationsToBecomeAuthor] OFF
GO
SET IDENTITY_INSERT [dbo].[ApplicationsToUnfreeze] ON 

INSERT [dbo].[ApplicationsToUnfreeze] ([ID], [UserID], [BookID], [Message], [isClose], [Approved]) VALUES (1, 4, 1, N'Ошибочная блокировка', 1, 0)
INSERT [dbo].[ApplicationsToUnfreeze] ([ID], [UserID], [BookID], [Message], [isClose], [Approved]) VALUES (2, 4, 1, N'Забанили по ошибке помогите', 1, 0)
INSERT [dbo].[ApplicationsToUnfreeze] ([ID], [UserID], [BookID], [Message], [isClose], [Approved]) VALUES (3, 3, 4, N'Не верно установлено возрастное ограничение, согласно причине блокировки исправил, прошу разморозить книгу', 0, NULL)
SET IDENTITY_INSERT [dbo].[ApplicationsToUnfreeze] OFF
GO
INSERT [dbo].[BookReports] ([ID], [BookID]) VALUES (2, 1)
INSERT [dbo].[BookReports] ([ID], [BookID]) VALUES (3, 1)
INSERT [dbo].[BookReports] ([ID], [BookID]) VALUES (5, 1)
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([ID], [Name], [ImagePath], [Description], [AuthorID], [isFreeze], [Content], [ReasonToFreeze]) VALUES (1, N'Записки Перминова', N'https://www.sport-liga.pro/_ipx/w_480&f_webp/https://api.sport-liga.pro/media/players/69/869.jpg', N'Приключения Перминова описанные в книге', 4, 1, N'Представим тут в текст в стиле "Ты альтушка, а я босс КФС, нам не суждено быть вместе."', NULL)
INSERT [dbo].[Books] ([ID], [Name], [ImagePath], [Description], [AuthorID], [isFreeze], [Content], [ReasonToFreeze]) VALUES (2, N'Абсолютная власть', N'https://cdn.litres.ru/pub/c/cover_415/73772396.webp', N'Новая работа начинающего автора', 2, 0, N'Представим что тут корректно отображается текст для книги часть 1', NULL)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[BookStatus] ON 

INSERT [dbo].[BookStatus] ([ID], [Name]) VALUES (1, N'Заброшенно')
INSERT [dbo].[BookStatus] ([ID], [Name]) VALUES (2, N'В планах')
INSERT [dbo].[BookStatus] ([ID], [Name]) VALUES (3, N'Читаю')
SET IDENTITY_INSERT [dbo].[BookStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([ID], [Name]) VALUES (1, N'Обучающее')
INSERT [dbo].[Genre] ([ID], [Name]) VALUES (2, N'Фантастика')
INSERT [dbo].[Genre] ([ID], [Name]) VALUES (3, N'Комикс')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
INSERT [dbo].[GenreBook] ([BookID], [GenreID]) VALUES (1, 4)
INSERT [dbo].[GenreBook] ([BookID], [GenreID]) VALUES (1, 5)
INSERT [dbo].[GenreBook] ([BookID], [GenreID]) VALUES (1, 7)
GO
INSERT [dbo].[ReadingList] ([UserID], [BookID], [StatusID]) VALUES (1, 1, 3)
INSERT [dbo].[ReadingList] ([UserID], [BookID], [StatusID]) VALUES (1, 2, 2)
INSERT [dbo].[ReadingList] ([UserID], [BookID], [StatusID]) VALUES (1, 3, 2)
GO
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([ID], [AuthorID], [Description], [isClose], [Approved], [ReportType]) VALUES (1, 4, N'Оскорбительный отзыв', 1, 0, 3)
INSERT [dbo].[Reports] ([ID], [AuthorID], [Description], [isClose], [Approved], [ReportType]) VALUES (2, 7, N'Использование авторских прав Перминова без его согласия', 1, 0, 2)
INSERT [dbo].[Reports] ([ID], [AuthorID], [Description], [isClose], [Approved], [ReportType]) VALUES (3, 5, N'Книга ерунда, не понравилась', 1, 1, 2)
SET IDENTITY_INSERT [dbo].[Reports] OFF
GO
INSERT [dbo].[ReportType] ([ID], [Name]) VALUES (1, N'Жалоба на пользователя')
INSERT [dbo].[ReportType] ([ID], [Name]) VALUES (2, N'Жалоба на книгу')
INSERT [dbo].[ReportType] ([ID], [Name]) VALUES (3, N'Жалоба на отзыв')
GO
INSERT [dbo].[ReviewReports] ([ID], [ReviewID]) VALUES (1, 1)
INSERT [dbo].[ReviewReports] ([ID], [ReviewID]) VALUES (10, 9)
INSERT [dbo].[ReviewReports] ([ID], [ReviewID]) VALUES (11, 18)
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ID], [Book], [UserID], [Rating], [Message], [Date], [IsFreeze]) VALUES (1, 1, 8, 1, N'Фигня переделывай', CAST(N'2026-04-10T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Reviews] ([ID], [Book], [UserID], [Rating], [Message], [Date], [IsFreeze]) VALUES (5, 4, 8, 3, N'Не очень, слабый текст тема произвидения не раскрыта. Много не понятных моментов', CAST(N'2026-04-11T12:00:00.000' AS DateTime), 0)
INSERT [dbo].[Reviews] ([ID], [Book], [UserID], [Rating], [Message], [Date], [IsFreeze]) VALUES (6, 4, 2, 8, NULL, CAST(N'2026-04-11T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([ID], [Name]) VALUES (1, N'Читатель')
INSERT [dbo].[Roles] ([ID], [Name]) VALUES (2, N'Писатель')
INSERT [dbo].[Roles] ([ID], [Name]) VALUES (3, N'Администратор')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[UserReports] ([ID], [UserID]) VALUES (4, 4)
INSERT [dbo].[UserReports] ([ID], [UserID]) VALUES (9, 4)
INSERT [dbo].[UserReports] ([ID], [UserID]) VALUES (12, 2)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Login], [Password], [Email], [Name], [RegestrationDate], [RoleID], [isFreeze], [ReasonToFreeze]) VALUES (1, N'admin', N'1qaz!QAZ', N'234808@edu.fa.ru', N'Филин Дмитрий Антонович', CAST(N'2026-04-09T00:00:00.000' AS DateTime), 3, 0, NULL)
INSERT [dbo].[Users] ([ID], [Login], [Password], [Email], [Name], [RegestrationDate], [RoleID], [isFreeze], [ReasonToFreeze]) VALUES (2, N'Domitiev', N'12345678', N'domitiev2007@gmail.com', N'Домитеев Михаил', CAST(N'2026-04-09T10:30:00.000' AS DateTime), 2, 1, NULL)
INSERT [dbo].[Users] ([ID], [Login], [Password], [Email], [Name], [RegestrationDate], [RoleID], [isFreeze], [ReasonToFreeze]) VALUES (3, N'login', N'123321', N'ivanov123321@mail.ru', N'Иван', CAST(N'2026-04-09T13:46:00.000' AS DateTime), 2, 0, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[ApplicationsToBecomeAuthor] ADD  CONSTRAINT [DF_ApplicationsToBecomeAuthor_isClose]  DEFAULT ((0)) FOR [isClose]
GO
ALTER TABLE [dbo].[ApplicationsToUnfreeze] ADD  CONSTRAINT [DF_ApplicationsToUnfreeze_IsClose]  DEFAULT ((0)) FOR [isClose]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Books_isFreeze]  DEFAULT ((0)) FOR [isFreeze]
GO
ALTER TABLE [dbo].[Reports] ADD  CONSTRAINT [DF_Reports_isClose]  DEFAULT ((0)) FOR [isClose]
GO
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [DF_Reviews_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [DF_Reviews_IsFreeze]  DEFAULT ((0)) FOR [IsFreeze]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_RegestrationDate]  DEFAULT (getdate()) FOR [RegestrationDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_isFreeze]  DEFAULT ((0)) FOR [isFreeze]
GO
ALTER TABLE [dbo].[ApplicationsToBecomeAuthor]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationsToBecomeAuthor_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[ApplicationsToBecomeAuthor] CHECK CONSTRAINT [FK_ApplicationsToBecomeAuthor_Users]
GO
ALTER TABLE [dbo].[ApplicationsToUnfreeze]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationsToUnfreeze_Books] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([ID])
GO
ALTER TABLE [dbo].[ApplicationsToUnfreeze] CHECK CONSTRAINT [FK_ApplicationsToUnfreeze_Books]
GO
ALTER TABLE [dbo].[ApplicationsToUnfreeze]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationsToUnfreeze_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[ApplicationsToUnfreeze] CHECK CONSTRAINT [FK_ApplicationsToUnfreeze_Users]
GO
ALTER TABLE [dbo].[BookReports]  WITH CHECK ADD  CONSTRAINT [FK_BookReports_Books] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([ID])
GO
ALTER TABLE [dbo].[BookReports] CHECK CONSTRAINT [FK_BookReports_Books]
GO
ALTER TABLE [dbo].[BookReports]  WITH CHECK ADD  CONSTRAINT [FK_BookReports_Reports] FOREIGN KEY([ID])
REFERENCES [dbo].[Reports] ([ID])
GO
ALTER TABLE [dbo].[BookReports] CHECK CONSTRAINT [FK_BookReports_Reports]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Users] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Users]
GO
ALTER TABLE [dbo].[GenreBook]  WITH CHECK ADD  CONSTRAINT [FK_GenreBook_Books] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([ID])
GO
ALTER TABLE [dbo].[GenreBook] CHECK CONSTRAINT [FK_GenreBook_Books]
GO
ALTER TABLE [dbo].[GenreBook]  WITH CHECK ADD  CONSTRAINT [FK_GenreBook_Genre] FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genre] ([ID])
GO
ALTER TABLE [dbo].[GenreBook] CHECK CONSTRAINT [FK_GenreBook_Genre]
GO
ALTER TABLE [dbo].[ReadingList]  WITH CHECK ADD  CONSTRAINT [FK_ReadingList_Books] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([ID])
GO
ALTER TABLE [dbo].[ReadingList] CHECK CONSTRAINT [FK_ReadingList_Books]
GO
ALTER TABLE [dbo].[ReadingList]  WITH CHECK ADD  CONSTRAINT [FK_ReadingList_BookStatus] FOREIGN KEY([StatusID])
REFERENCES [dbo].[BookStatus] ([ID])
GO
ALTER TABLE [dbo].[ReadingList] CHECK CONSTRAINT [FK_ReadingList_BookStatus]
GO
ALTER TABLE [dbo].[ReadingList]  WITH CHECK ADD  CONSTRAINT [FK_ReadingList_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[ReadingList] CHECK CONSTRAINT [FK_ReadingList_Users]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_ReportType] FOREIGN KEY([ReportType])
REFERENCES [dbo].[ReportType] ([ID])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_ReportType]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Users] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Users]
GO
ALTER TABLE [dbo].[ReviewReports]  WITH CHECK ADD  CONSTRAINT [FK_ReviewReports_Reports] FOREIGN KEY([ID])
REFERENCES [dbo].[Reports] ([ID])
GO
ALTER TABLE [dbo].[ReviewReports] CHECK CONSTRAINT [FK_ReviewReports_Reports]
GO
ALTER TABLE [dbo].[ReviewReports]  WITH CHECK ADD  CONSTRAINT [FK_ReviewReports_Reviews] FOREIGN KEY([ReviewID])
REFERENCES [dbo].[Reviews] ([ID])
GO
ALTER TABLE [dbo].[ReviewReports] CHECK CONSTRAINT [FK_ReviewReports_Reviews]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Books] FOREIGN KEY([Book])
REFERENCES [dbo].[Books] ([ID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Books]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[UserReports]  WITH CHECK ADD  CONSTRAINT [FK_UserReports_Reports] FOREIGN KEY([ID])
REFERENCES [dbo].[Reports] ([ID])
GO
ALTER TABLE [dbo].[UserReports] CHECK CONSTRAINT [FK_UserReports_Reports]
GO
ALTER TABLE [dbo].[UserReports]  WITH CHECK ADD  CONSTRAINT [FK_UserReports_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[UserReports] CHECK CONSTRAINT [FK_UserReports_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [Constr] CHECK  (([Rating]>=(1) AND [Rating]<=(10)))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [Constr]
GO
USE [master]
GO
